:root{
    --blue : #2e15a4;
    --lightblue : #c5bbf6;
    --ivory : #fafaf2;
}


body{
    background-color: var(--ivory);
    height: 100vh;
}
.container{
    background-color: var(--ivory);
    color: black;
    z-index: 20000;
}
a{
    color: black;
}
.project-container{
    display: flex;
    justify-content: space-between;
    margin: 1%;
}
.project-title{
    width: 30%;
}
h4{
    margin-top: -3%;
}
.project-description{
    width: 40%;
    position: relative;
    left: -10%;
}
.p-images{
    text-align: center;
}
.project1 img{
    width: 40%;
    margin: 1%;
}
.project2 img{
    width: 35%;
    border: 0.5px solid var(--lightblue);
}
.project9 img{
    width: 35%;
    margin: 0.5%;
}
video{
    width: 60%;
    margin: 1%;
    border: 0.5px solid var(--lightblue);
    margin: 1%;
    border-radius: 10px;
}
.project4 img{
    width: 40%;
    margin: 1%;
}
.project5 img, .project7 img{
    width: 35%;
}
.project7 img{
    border: 0.5px solid var(--lightblue);
}
.project8 img{
    width: 35%;
    margin: 1%;
    border: 0.5px solid var(--lightblue);
}
.project3 img{
    width: 35%;
    margin: 1%;
}

.project-footer{
    padding-bottom: 20px;
    margin-top: 5%;
}
.merch{
    max-width: 40%
}